<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
-->
<plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated modelTrace -->
    <package uri="modelTrace" class="modelTrace.ModelTracePackage" genModel="model/modelTrace.genmodel" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated modelTrace -->
    <package uri="modelTrace_Steps" class="modelTrace.Steps.StepsPackage" genModel="model/modelTrace.genmodel" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated modelTrace -->
    <package uri="modelTrace_States" class="modelTrace.States.StatesPackage" genModel="model/modelTrace.genmodel" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated modelTrace -->
    <package uri="modelTrace_model" class="modelTrace.States.model.ModelPackage" genModel="model/modelTrace.genmodel" />
  </extension>
  <extension point="org.gemoc.gemoc_language_workbench.engine_addon">
    <Addon Class="org.gemoc.models17.fsm.xfsm.trace.tracemanager.ModelTraceEngineAddon" Default="false" id="org.gemoc.models17.fsm.xfsm.trace" Name="model MultiDimensional Trace" ShortDescription="MultiDimensional Trace support dedicated to model language" openViewIds="org.gemoc.sequential_addons.multidimensional.timeline.views.timeline.MultidimensionalTimeLineView" AddonGroupId="Sequential.AddonGroup" />
  </extension>
</plugin>
