<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
  <extension point="org.gemoc.gemoc_language_workbench.sequential.xdsml">
    <XDSML_Definition modelLoader_class="org.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="org.gemoc.models17.fsm.XFSM" xdsmlFilePath="/org.gemoc.models17.fsm/src/org/gemoc/models17/fsm/fsm.melange"/>
  </extension>
  <extension point="org.gemoc.gemoc_language_workbench.concurrent.xdsml">
    <XDSML_Definition codeExecutor_class="xfsm.xdsml.api.impl.XFSMCodeExecutor" modelLoader_class="org.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="org.gemoc.models17.fsm.XFSM" solver_class="org.gemoc.execution.concurrent.ccsljavaengine.extensions.timesquare.moc.impl.CcslSolver" toCCSLQVTOFilePath="/org.gemoc.models17.fsm.dse/qvto-gen/modeling/XFSM.qvto" xdsmlFilePath="/org.gemoc.models17.fsm/src/org/gemoc/models17/fsm/fsm.melange"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated XFSMMT -->
    <package class="org.gemoc.models17.fsm.xfsmmt.model.ModelPackage" genModel="model-gen/XFSMMT.genmodel" uri="http://org.gemoc.models17.fsm.xfsmmt/model/"/>
  </extension>
  
<extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="org.gemoc.models17.fsm.XFSMMT" uri="http://org.gemoc.models17.fsm.xfsmmt/"/>
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="Buffer:org.gemoc.models17.fsm.xfsm.aspects.BufferAspect;FSM:org.gemoc.models17.fsm.xfsm.aspects.FSMAspect;State:org.gemoc.models17.fsm.xfsm.aspects.StateAspect;Transition:org.gemoc.models17.fsm.xfsm.aspects.TransitionAspect;System:org.gemoc.models17.fsm.xfsm.aspects.SystemAspect" entryPoints="org.gemoc.models17.fsm.xfsm.aspects.SystemAspect.main(org.gemoc.models17.fsm.xfsm.model.System)" exactType="org.gemoc.models17.fsm.XFSMMT" id="org.gemoc.models17.fsm.XFSM" uri="http://org.gemoc.models17.fsm.xfsm/model/">
      <adapter class="org.gemoc.models17.fsm.xfsm.adapters.xfsmmt.XFSMAdapter" modeltypeId="org.gemoc.models17.fsm.XFSMMT"/>
    </language>
  </extension>
</plugin>
