<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.gemoc.gemoc_language_workbench.xdsml">
    <XDSML_Definition name="org.gemoc.models17.fsm.Fsm" xdsmlFilePath="platform:/plugin/org.gemoc.models17.fsm/src/org/gemoc/models17/fsm/Fsm.dsl" modelLoader_class="org.eclipse.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" />
  </extension>
  <extension point="org.eclipse.gemoc.gemoc_language_workbench.moccml.xdsml.addition">
    <MOCCML_XDSML_Addition
           name="org.gemoc.models17.fsm.Fsm" referencedXDSMLName="org.gemoc.models17.fsm.Fsm"  codeExecutor_class="fsm.xdsml.api.impl.FsmCodeExecutor" solver_class="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.extensions.timesquare.moc.impl.CcslSolver" toCCSLQVTOFilePath="/org.gemoc.models17.dse/qvto-gen/modeling/models17.qvto">
    </MOCCML_XDSML_Addition>
  </extension>
</plugin>
